//colors
$primaryColor: #222;
$secondaryColor: #ffff00;
$genColor: #eee;

//fonts

//font-size

//width and height

//margin and padding

//list-style

//page property
.search-section{
    background-color: $primaryColor;
}