*{
    color: #eee;
    background-color: rgba(121, 121, 121, 0.6);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    width:100%;
}

#logo{
    background-color: inherit;
    text-align: center;
    margin: .25vw;
    font-size: 4vw;
    padding: 1vw;
    font-weight: 700;
    cursor:pointer;
}

.me-word{
    background-color: inherit;
    text-align: center;
    color: #ff0;
}
.nav-group{
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin: 1vw 3vw;
    align-content: center;
    
    
}
ul.navbar{
    background-color: #000000;
    display: flex;
    padding: 0 1.5vw;
    margin: 0rem 1rem;
    overflow: hidden;
    
}
.nav-item{
    background-color: #000000;
    margin: 0 .75rem;
    padding: 0 1.25rem;
    text-align: center;
    font-size: 2vw;
    list-style: none;
    font-weight: 500;
    align-content: center;
    cursor: pointer;
}

.nav-item:hover{
    background-color: #ff0;
    border-radius: 1.0rem;
    color: #000000;
}

.search-section{
    background: none;
    display: flex;
    margin: 2%;
    justify-content: center;
    width: 100%;
}

.search-bar{
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
    width: 80%;
}

#search{
    
    width: 90%;
    padding: 1rem;
    outline: none;
    border: 1px solid #222;
    border-radius: .5rem;
    background-color: #eee;
    margin: 0 .75rem;
    color: #000000;
}
::placeholder{
    font-size: 1.25vw;
}

#btn-search{
    
    width: 8%;
    border-radius: .5rem;
    outline: none;
    border: none;
    background-color: #000000;
    color:#eee;
    cursor: pointer;
    font-size: 1.25vw;
}

.search-results{
    display: grid;
    gap: .25rem;
    background-color: #000000;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 1rem;
}
img{
    width: 200px;
    height: 200px;
}

/*mobile settings*/
@media screen and (max-width:320px) {
    .nav{
        background-color: #000000;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        overflow: hidden;
    };

   
}

@media screen and (max-width:320px) {
 #logo{
        background-color: #000000;
        text-align: center;
        margin: .05rem;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 700;
        cursor:pointer;
    };
}

@media screen and (max-width:320px) {
    .nav-group{
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    ul.navbar{
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin: 0 3rem;
        text-align: center;
}
}

@media screen and (max-width:320px) {
    .nav-item{
        background-color: #000000;
        margin: 0.25rem 1rem;
        padding: .5rem 1rem;
        text-align: center;
        font-size: 1rem;
        list-style: none;
        font-weight: 500;
        align-content: center;
        cursor: pointer;
    } 
}

@media screen and (max-width:320px) {
    .nav-item:hover{
        background-color: #ff0;
        color: #000000;
    }
}

/* Search section*/



@media screen and (max-width:320px) {
    .search-bar{
        
        background: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-content: center;
        align-items: center;
    
    }

}

@media screen and (max-width:320px) {
    #search{
        width: 80%;
        padding: .5rem;
        outline: none;
        border: .5px solid #222;
        border-radius: .5rem;
        background-color: #eee;
        margin: .75rem .05rem;
        color: #000000;
        font-size: .75rem;
    }

}



@media screen and (max-width:320px) {
::placeholder{
    font-size: .75rem;
}
}

@media screen and (max-width:320px) {
#btn-search{
    padding: .5rem;
    width: 20%;
    border-radius: .25rem;
    outline: none;
    border: none;
    background-color: #000000;
    color:#eee;
    cursor: pointer;
    font-size: .75rem;
}
}


@media screen and (max-width:320px) {
    #btn-search:hover{
        color: #000000;
        background-color: #ff0;
        border-radius: .25rem;
    }
    }

    /*search results */

@media screen and (max-width:320px) {
.search-results{
    display: grid;
    gap: .25rem;
    background-color: #000000;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 1rem;
    align-content: center;
    justify-content: center;
    justify-items: center;
}


img{
    width: 280px;
    height: 280px;
}
}